.main{
    min-height: 700px;
}
.freeTrial{
    width: 90%;
    margin: auto;
    margin-top:20px;
    background-color: #f2faff;
    border:1px solid #e2f3ff;
    border-left: 5px solid #e2f3ff;
    border-radius: 5px;
    padding: 20px 5px;
    display:flex;
    gap:10px;
}
.optionbar{
    width:90%;
    margin:auto;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}
.optionbar1{
    display: flex;
    gap:20px;
}
.cportal{
    border: 1px solid;
    padding: 5px 10px;
    cursor: pointer;
}
.nclient{
    cursor: pointer;
    border: 1px solid;
    padding: 5px 10px;
    background-color: #06B48B;
    color:white;
}
.searchi{
    color:black;
    border:1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.filtersp{
    color:black;
    font-size: 16px;
    font-weight: 600;
    border:1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
}
.cpmodal{
    display: flex;
    min-width: 800px;
    min-height: 500px;
    gap:0px
}
.cpmodalc1{

    min-width: 500px;
    min-height: 500px;
    padding: 40px;
}
.cpmodalc2{
    min-width: 350px;
    min-height: 500px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: -24px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #06B48B;
}
.cpmodalc2>img{
    margin: 80px 50px;
    border-radius: 25px;
}
.closeB{
    top:3px;
    right:-35px;
    position:absolute;
}
.line{
    margin: auto;
    margin-top: 10px;
    width: 95%;
    border-top: 1px solid;
    padding: 0px;
}